.wrap_home_screen{
    background-image: linear-gradient(to bottom, #af9cf300, #af9cf3);
    margin: 0;
    padding: 50px;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: space-between; */
}

.home_screen_logo{
    height: 35px;
    width: 145px;
}

.home_screen_body{
    background-color: white;
    width: 216px;
    height: 198px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
}