.wrap_home_screen{
    background-image: linear-gradient(to bottom, #af9cf300, #af9cf3);
    margin: 0;
    padding: 50px;
    height: calc(100vh - 80px);
    /* display: flex; */
    /* align-items: center; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
}